

body {
    /* The image used */
    background-image: url("../imgs/nightView.jpg");
  
    /* Full height */
    height: 100%;
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }

  button {
      color: white;
  }

  #home-tab > p{
      background-color: rgba(0, 0, 0, 0.473);
      color: white;
      margin-right: 100px;
   
  }

  .aboutMeGrid > p {
    color: white;
  }

  .container {
      height: 100%;
      width: auto;

      color: white;
  }

  .accordian-button {
      color: white;
      background-blend-mode:difference;
    
  }

  p {
      background: rgba(0, 0, 0, 0.466);
  }

